torch
torchvision
torchaudio
gradio>=5.0
spaces
huggingface_hub
diffusers
transformers
accelerate
opencv-python
soundfile
scipy
omegaconf
einops
tqdm
insightface
facexlib
imageio[ffmpeg]
python-multipart
mmengine
mmcv
mmpose
