setuptools
diffusers==0.27.2
accelerate==0.28.0
opencv-python-headless
soundfile
transformers
omegaconf
huggingface_hub
requests
gdown
Pillow
regex
scipy
imageio
imageio-ffmpeg
ffmpeg-python
einops
tqdm
insightface
facexlib
python-multipart
